@charset "UTF-8";
body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #FFF;
  background: #000;
  max-width: 1024px;
  margin: 5rem auto 0;
}

.wrapper {
  text-align: center;
}

.block {
  display: block;
}

.clickable {
  display: inline-block;
  margin: 1rem;
}
.clickable button {
  padding: 1rem 2rem;
  cursor: pointer;
  background: #EEE;
  border: none;
  border-radius: 5px;
}
.clickable button:hover {
  background: #BBB;
}
.clickable button:focus {
  outline: none;
  background: #BBB;
}

#contextmenu {
  display: none;
  font-size: 1rem;
  position: absolute;
  min-width: 200px;
  height: auto;
  padding: 0;
  border-radius: 10px;
  top: 10;
  left: 10;
  color: #000;
}
#contextmenu.show {
  display: block;
}
#contextmenu ul {
  background: #FFF;
  margin: 0;
  padding: 5px;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
#contextmenu li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
#contextmenu li i {
  margin-right: 5px;
  color: #BBB;
}
#contextmenu li:hover {
  background: #EEE;
}
#contextmenu li.share, #contextmenu li.send {
  position: relative;
}
#contextmenu li.paste {
  border-bottom: 1px solid #AAA;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#contextmenu li.delete {
  border-top: 1px solid #AAA;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
#contextmenu li.delete:hover {
  color: red;
}
#contextmenu li.delete:hover i {
  color: red;
}
#contextmenu li.has-sub {
  position: relative;
}
#contextmenu li.has-sub:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "ï”";
  color: #BBB;
  position: absolute;
  right: 5px;
}
#contextmenu > ul > li > ul {
  position: absolute;
  display: none;
  top: 5px;
  right: -200px;
  min-width: 200px;
  z-index: 2;
}
#contextmenu > ul > li:hover > ul {
  display: block;
}